body{
    margin: 0px;
    padding: 0px;
    background: url('../images/gym2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.left{
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 0px;
  /* border: 2px solid red; */
}
.left img{
    width: 136px;
    filter:invert(100%);
}
.left div{
    text-align: center;
    font-size: 26px;
    line-height: 19px;
}
.mid{
    display: block;
    width: 38%;
    margin: 29px auto;
    /* border: 2px solid red; */
}
.right{
    position: absolute;
    right: 34px;
    top: 36px;
    display: inline-block;
    /* border: 2px solid red; */
}
.navbar{
    display: inline-block;   
}
.navbar li{
    color: white;
    display: inline-block;
    font-size: 20px;
    
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 22px;
}
.navbar li a:hover{
    color: blue;
    text-decoration: underline;
}
.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(31, 30, 30);
}
.container{
    /* border: 2px solid white; */
    margin: 125px 2px;
    padding: 75px;
    border-radius: 4px;
    width: 44%;
}
.form-group input{
     text-align: center;
     display: block;
     width: 508px;
     font-size: 25px;
     padding: 3px;
     border: 2px solid black;
     border-radius: 8px;
     margin: 11px auto;
}
.container button{
    display: block;
    width: 77%;
    padding: auto;
    margin: 20px auto;
}
.container h1{
    text-align: center;
}